<div class="pintar-aulas">
    <h1>Aula {{clase}} {{campus}}</h1>
    <div class="pizarra">PIZARRA</div>
    <div class="clase" *ngFor="let columnas of distribucion">
        <div class="columnas">
            <div class="contenido">
                <span class="filas" *ngFor="let sitio of columnas">
                    <!--
                    <span class="sitios-bueno" *ngIf="sitio.valor==0;else firstElse" (click)="getMarcar(sitio)"><img src="../assets/img/verde.jpeg"/></span>
                    <ng-template #firstElse>
                        <span class="sitios-malo" *ngIf="sitio.valor==1;else secondElse" (click)="getMarcar(sitio)"><img src="../assets/img/rojo.png"/></span>
                        <ng-template #secondElse>
                            <span class="pasillo">&nbsp;&nbsp;</span>
                        </ng-template>
                    </ng-template>
                    -->       
                    <span class="sitios-bueno" *ngIf="sitio.valor==0;else firstElse" (click)="getMarcar(sitio)"></span>
                    <ng-template #firstElse>
                        <span class="sitios-malo" *ngIf="sitio.valor==1;else secondElse" (click)="getMarcar(sitio)"></span>
                        <ng-template #secondElse>
                            <span class="pasillo">&nbsp;&nbsp;</span>
                        </ng-template>
                    </ng-template> 
                </span>
            </div>
            <br/><br/>
        </div>
    </div>
    <div class="botones">
        <button class="boton-guardar" (click)="onSubmit()">Guardar</button>
        <button [routerLink]="['/aula', edificio, campusId, clase]" class="boton-atras">Atras</button>
    </div>
</div>