<div class="portada">  
    <div class="article">
        Bienvenidos a la herramienta de organizacion y planificacion previa de las aulas a la realizacion de los examenes.
        Dicha herramienta muestra la distribución del aula permitiendo al profesor organizar 
        los diferentes modelos de examen sin necesidad de desplazarse al aula para realizar la organización.
    </div>
    <div class="listaOpciones">
        <ul>
            <li>Opción 1</li>
            <li>Opción 2</li>
            <li>Opción 3</li>
            <!-- Agrega más opciones según sea necesario -->
        </ul>
    </div>
</div>